<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/registerLogin.css"> <!-- Reusing the same CSS file for consistency -->
</head>
<body>
<div class="register-container">
    <h2>Sign In to Your Account</h2>

    <!-- Login Form -->
    <form th:action="@{/login}" method="post">
        <!-- Username input -->
        <div class="form-outline">
            <input type="text" id="loginUsername" class="form-control" name="username" required />
            <label class="form-label" for="loginUsername">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline">
            <input type="password" id="loginPassword" class="form-control" name="password" required />
            <label class="form-label" for="loginPassword">Password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="text-center">
        <p>Don't have an account? <a href="/register">Create one</a></p>
    </div>

    <div >
        <p th:if="${param.error}" class="error-alert">Invalid username or password</p>
    </div>
</div>
</body>
</html>
