    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <link rel="stylesheet" href="/static/registerLogin.css"> <!-- Link to your external CSS file -->
    </head>
    <body>
    <div class="register-container">
        <h2>Create Your Account</h2>

        <!-- Register Form -->
        <form th:action="@{/register}" th:object="${user}" method="post">
            <!-- Username input -->
            <div class="form-outline">
                <input type="text" id="registerUsername" class="form-control" th:field="*{username}"required />
                <label class="form-label" for="registerUsername">Username</label>
            </div>

            <!-- Email input -->
            <div class="form-outline">
                <input type="email" id="registerEmail" class="form-control" th:field="*{email}" required />
                <label class="form-label" for="registerEmail">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline">
                <input type="password" id="registerPassword" class="form-control" th:field="*{password}"  />
                <label class="form-label" for="registerPassword">Password</label>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <div class="text-center">
            <p>Already have an account? <a href="/login">Sign in</a></p>
        </div>
    </div>
    </body>
    </html>
